.container {
  max-width: 720px;
  margin: auto;
}

.accordion {
  margin-top: 1rem;
}


#root {
  max-width: 1280px;
  margin: 0 auto;
  overscroll-behavior-y: contain;
  overflow-anchor: none;
}
html,
body {
  overscroll-behavior: none;
}

.navbar {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 999;
}

/* Current logo opacity 0 */
.navbar [class*='logo'] {
  opacity: 0;
}

.navbar::before {
  content: '';
  display: inline-block;
  position: fixed;
  left: 2rem;
  top: -1rem;
  width: 130px;
  height: 130px;
  background-image: url('../public/output2.gif');
  background-size: contain;
  background-repeat: no-repeat;
}

.navbar .ams-header__brand-name,
.navbar [class*='BrandName'] {
  padding-top: 1rem;
  position: relative;
  display: block;
}


