@use './styles/media-queries' as media;

//--------------------------------------------------
//Overal Layout start here
.appWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: rgb(91, 119, 133);
}

// implemented one time to make the progress bar work.
.scrollContainer {
  flex: 1;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  height: calc(var(--vh, 1vh) * 100);
  background-color: transparent;
}

.container {
  position: relative;
  top: 0;
  width: 100%;
  max-width: 450px;
  margin: 5rem auto;
  padding: 1rem;
  box-sizing: border-box;
}
//--------------------------------------------------

// Style the navbar here:
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2000;
  background-color: transparent;
  box-sizing: border-box;

  // curved background
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(39, 68, 83);
    clip-path: ellipse(100% 100% at 50% 0%);
    z-index: -1;
  }

  // shadow anchored below the navbar
  &::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(-85%);
    width: 110%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.6);
    filter: blur(5px);
    border-radius: 50%;
    pointer-events: none;
    z-index: -2;
  }
}

//--------------------------------------------------
// to place to new logo correctly:
.logo {
  display: block;
  position: fixed;
  left: 1.5rem;
  top: -0.7rem;
  width: 80px;
  height: 80px;
  background-image: url('/output2.gif');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 3000;
  cursor: pointer;
  pointer-events: auto;

  @include media.desktop {
    left: 2rem;
    top: -1.5rem;
    width: 120px;
    height: 120px;
  }
}
//--------------------------------------------------

// Styling the ADS components differently, changes start here:

// Home Page description accordion
.accordion {
  margin-top: 2rem;
}

//--------------------------------------------------
// BLOG Layout Container:
.blogContainer {
  margin-top: 6rem;
  padding: 2rem;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.aboutContainer {
  margin-top: 6rem;
  padding: 2rem;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
}

.customBlockquote {
  background-color: black;
  border-radius: 20px;
  font-family: 'Lucida Console', monospace;
  font-size: small;
}

.homePageUpdates {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  margin: auto;
  flex-direction: column;
  gap: 5rem;
  padding-bottom: 5rem;
  max-width: 400px;
  border-bottom: solid 2px white;
}

.standardHeading {
  display: flex;
  margin-top: 3rem;
  justify-content: center;
  margin-bottom: 1rem;
}

.date {
  color: rgb(46, 246, 100);
}
