@use './styles/media-queries' as media;
@use '@amsterdam/design-system-tokens/dist/index.css';
@use '@amsterdam/design-system-tokens/dist/compact.css';

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

//--------------------------------------------------
//Hide Logo GEM AMS
.ams-logo {
  opacity: 0;
  cursor: pointer;
  position: relative;
  z-index: 9000;
  pointer-events: auto;
}
//--------------------------------------------------

// .ams-header {
//   position: relative;
//   width: 100%;
// }

// Fix for accordion buttons on mobile
.ams-accordion__button {
  color: white;
  transition: color 0.2s ease;

  &:active {
    color: rgb(46, 246, 100);
  }

  &:not(:active):focus {
    color: white;
  }
}

@include media.desktop {
  .ams-accordion__button {
    &:hover {
      color: rgb(46, 246, 100);
    }
  }
}

// Brand Name : Blog - Tech Conferences
.ams-header__brand-name {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateZ(0);
  padding-top: 0.25rem;
  padding-left: 0;
  color: white;
  text-align: center;
  margin: 0;
}

// TV NOISE EFFECT on Brand Name and Heading in menu.
.ams-heading,
.ams-header__brand-name {
  color: white;
  font-size: 1.5rem;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
  animation: tv-noise 6s ease-in-out infinite;
}

@keyframes tv-noise {
  0%,
  8.3%,
  100% {
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
    opacity: 1;
  }
  1.5% {
    text-shadow: 3px 1px #ff0000, -3px 0px #00ffff;
    opacity: 0.9;
  }
  4.15% {
    text-shadow: 3px 0px #00ff00, -3px -1px #ff00ff;
    opacity: 0.9;
  }
}
.ams-header__mega-menu-button,
.ams-link-list__link,
.ams-header,
.ams-header__menu-link {
  color: white;
  &:hover {
    color: white;
    font-weight: 600;
  }
}

//--------------------------------------------------
// Spotlight fixes.
//Color and FontSize Spotlight
.ams-blockquote {
  color: white;
  font-size: 1.2rem;
  text-align:center;

}

//Background & Border Radius Spotlight
.ams-spotlight {
  margin-top: 1rem;
  background-color: rgb(72, 82, 89);
  border-radius: 20px;
}

// Padding Spotlight
.ams-grid--padding-vertical--medium {
  padding: 0.5rem;
}

//--------------------------------------------------
// ALL the BLOG related components are here:
.ams-page-heading,
.ams-unordered-list__item,
.ams-paragraph {
  color: white;
}

.ams-spotlight2 {
  background-color: transparent;
}

::marker,
.ams-link {
  color: rgb(28, 189, 71);
}

.ams-link {
  &:hover {
    color: rgb(46, 246, 100);
  }
}

.ams-link-list__link {
  margin-top: 1rem;
}

.ams-heading {
  padding-top: 1rem;
}

.ams-card__link {
  color: rgb(28, 189, 71);
  &:hover {
    color: rgb(46, 246, 100);
  }
}
