.progress-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 105%;
  height: 10px;
  background: rgba(255, 255, 255, 0.2);
  z-index: 1000;
}

.progress-bar {
  height: 10px;
  width: 0%;
  background: #00e676;
}
